@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TSLR</h1>
    <p class="lead">The Student Lodge Reception - Delivery Messaging System</p>
    <p><a href="/Reception" class="btn btn-primary btn-lg">Go To .... &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
            <h2>Create</h2>
            <p>
                Something here ..........
            </p>
            <p><a class="btn btn-default" href="/Reception/Create">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Edit</h2>
            <p>Something here ..........</p>
            <p><a class="btn btn-default" href="/Reception/Edit">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Delete</h2>
            <p>Something here ..........</p>
            <p><a class="btn btn-default" href="/Reception/Delete">Learn more &raquo;</a></p>
        </div>*@
</div>
